<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>advanced layout</title>
    <link rel="stylesheet" href="style.css">
</head>

<body class="border">
    <div class="line"></div>
    <div class="container">
        <div class="header">
            <nav>
                <a class="one"></a>
                <a class="two"></a>
                <a class="three"></a>
                <a class="four"></a>
            </nav>
        </div>
        <div class="main1">
            <div class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. In rutrum. In sem justo, commodo
                ut, suscipit at, pharetra vitae, orci. Proin mattis lacinia justo. Praesent dapibus. Etiam dui sem,
                fermentum vitae, sagittis id, malesuada in, quam. In sem justo, commodo ut, suscipit at, pharetra vitae,
                orci. Aenean vel massa quis mauris vehicula lacinia. Etiam neque. Vivamus luctus egestas leo. Aliquam id
                dolor. Nulla est. Integer malesuada. Integer tempor. Praesent id justo in neque elementum ultrices.
                Morbi
                scelerisque luctus velit. Vivamus porttitor turpis ac leo.</div>
        </div>
        <div class="main2">
            <div class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. In rutrum. In sem justo, commodo
                ut, suscipit at, pharetra vitae, orci. Proin mattis lacinia justo. Praesent dapibus. Etiam dui sem,
                fermentum vitae, sagittis id, malesuada in, quam. In sem justo, commodo ut, suscipit at, pharetra vitae,
                orci. </div>
        </div>
        <div class="main3">
            <div class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. In rutrum. In sem justo, commodo
                ut, suscipit at, pharetra vitae, orci. Proin mattis lacinia justo. Praesent dapibus. Etiam dui sem,
                fermentum vitae, sagittis id, malesuada in, quam. In sem justo, commodo ut, suscipit at, pharetra vitae,
                orci. Aenean vel massa quis mauris vehicula lacinia. Etiam neque. Vivamus luctus egestas leo. Aliquam id
                dolor. Nulla est. Integer malesuada. Integer tempor. Praesent id justo in neque elementum ultrices.
            </div>
        </div>
        <div class="red1">
            <div class="red-block"></div>
        </div>
        <div class="red2">
            <div class="red-block"></div>
        </div>
        <div class="footer"></div>
    </div>

</body>

</html>
